/* ADD CHAT MODAL STYLES */

.modal__addChat .PhoneInput {
    margin: 1em 0;
}

.modal__addChat button,
.modal__addRoom button {
    text-align: center;
    width: 50%;
    background-color: #06D755;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    font-weight: 600;
    padding: .5em 0;
    margin: auto;
}

.modal__addChat button:hover,
.modal__addRoom button:hover {
    background-color: #06D755;
}

.modal__muteConvo p {
    margin: 1em 0;
    color: rgba(0, 0, 0, 0.699);
}

.modal__muteConvo>h3 {
    font-weight: lighter;
}

.modal__muteConvo>div {
    display: flex;
    align-items: center;
}

.modal__muteConvo div button {
    padding: 1em 1.2em;
    cursor: pointer;
    outline: none;
    border: none;
}

.modal__muteConvo div button:nth-of-type(1) {
    color: #06D755;
    background-color: white;
    box-shadow: 1px 1px 8px black;
}

.modal__muteConvo div button:nth-of-type(2) {
    margin-left: 1em;
    background-color: #06D755;
    border-radius: 5px;
    color: white;
}

.modal__notAdmin p,
.modal__emptyGroupName p {
    font-size: .9rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.753);
}

.modal__notAdmin button,
.modal__emptyGroupName button {
    margin: 3em 0 auto 0;
    border: none;
    color: white;
    padding: .7em 1.9em;
    background-color: #0AA545;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}

.modal__blockChat p,
.modal__clearMssgs p,
.modal__deleteChat p,
.modal__exitGroup p,
.modal__confirmMakeAdmin p,
.modal__removeFromGroup p,
.modal__aPConfirmation p {
    font-size: .9rem;
    font-weight: lighter;
    margin-bottom: 2.5em;
    color: rgba(0, 0, 0, 0.747);
    word-wrap: break-word;
}

.modal__confirmMakeAdmin>div {
    display: flex;
    align-items: center;
}

.modal__blockChat button,
.modal__clearMssgs button,
.modal__reportContact button,
.modal__reportGroup button,
.modal__deleteChat button,
.modal__aPConfirmation button,
.modal__confirmMakeAdmin button,
.modal__removeFromGroup button,
.modal__exitGroup button {
    padding: 1em 1.2em;
    cursor: pointer;
    outline: none;
    border: none;
    float: right;
    border-radius: 4px;
}

.modal__blockChat button:nth-of-type(2),
.modal__clearMssgs button:nth-of-type(2),
.modal__reportContact button:nth-of-type(2),
.modal__reportGroup button:nth-of-type(2),
.modal__deleteChat button:nth-of-type(2),
.modal__aPConfirmation button:nth-of-type(2),
.modal__confirmMakeAdmin button:nth-of-type(2),
.modal__removeFromGroup button:nth-of-type(2),
.modal__exitGroup button:nth-of-type(2) {
    background-color: white;
    color: #06D755;
    margin-right: .5em;
    border: 1px solid rgba(128, 128, 128, 0.151);
}

.modal__blockChat button:nth-of-type(1),
.modal__clearMssgs button:nth-of-type(1),
.modal__reportContact button:nth-of-type(1),
.modal__reportGroup button:nth-of-type(1),
.modal__deleteChat button:nth-of-type(1),
.modal__aPConfirmation button:nth-of-type(1),
.modal__confirmMakeAdmin button:nth-of-type(1),
.modal__removeFromGroup button:nth-of-type(1),
.modal__exitGroup button:nth-of-type(1) {
    background-color: #06D755;
    color: white;
}

.modal__reportContact>p,
.modal__reportGroup>p,
.modal__reportContact>div p,
.modal__reportGroup>div p {
    font-size: .9rem;
    color: rgba(0, 0, 0, 0.952);
    font-weight: lighter;
}

.modal__reportContact>span,
.modal__reportGroup>span {
    font-size: small;
    display: block;
    margin: 1.2em 0;
    color: rgba(0, 0, 0, 0.527);
}

.modal__reportContact>div,
.modal__reportGroup>div {
    display: flex;
    align-items: center;
}

/* SELECTED */
.modal_addparticipant_selectedWr {
    max-height: 131px;
    overflow-y: scroll;
}

.modal_addparticipant_selected {
    padding: 1.2em;
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    grid-gap: 5px;
}

.modal_addparticipant_selected>div {
    display: flex;
    align-items: center;
    background-color: #E6E6E6;
    width: fit-content;
    border-radius: 15px;
    padding: 0 .1em;
}

.modal_addparticipant_selected>div>span {
    font-size: .8rem;
    font-weight: 100;
    margin: 0.5em;
    color: rgba(0, 0, 0, 0.836);
}

.modal_addparticipant_selected>div>.MuiSvgIcon-root {
    color: rgba(128, 128, 128, 0.719);
    font-size: 1.1rem;
    cursor: pointer;
}

.modal_addparticipant_selected>div>.MuiSvgIcon-root:hover {
    border: 1px solid white;
    padding: .1em;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 50%;
}

.modal_addparticipant_selected>div>.MuiAvatar-root {
    width: 24px;
    height: 24px;
}

/* ADD PARTICIPANT */

.modal_addparticipant_header {
    display: flex;
    align-items: center;
    padding: 1em 1.2em;
    background-color: #009688;
}

.modal_addparticipant_header>P {
    margin-left: 1.2em;
    color: white;
}

.modal__addParticipant_wr {
    position: relative;
    padding: 0 !important;
    min-width: 450px !important;
    max-height: 730px;
    overflow-y: hidden;
}

.modal__addParticipant>.MuiSvgIcon-root {
    position: absolute;
    bottom: 40px;
    font-size: 4rem;
    border-radius: 50%;
    padding: 0.2em;
    background-color: #09E85E;
    color: white;
    border: 1px solid #09E85E;
    right: 40px;
    cursor: pointer;
}

.modal_addparticipant_header>.MuiSvgIcon-root {
    color: white;
    cursor: pointer;
}

.modal_addparticipant_search {
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    height: 39px;
    padding: 30px 15px;
}

.modal_addparticipant_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.modal_addparticipant_searchContainer>input {
    border: none;
    height: 100%;
    background-color: inherit;
    color: inherit;
    outline: none;
    width: 75%;
}

.modal_addparticipant_searchContainer .icons {
    position: relative;
}

.modal_addparticipant_searchContainer .icons>.back {
    color: #45BBF4;
    margin: 10px;
    display: none;
    transform: rotate(-100deg);
    cursor: pointer;
}

.modal_addparticipant_searchContainer .icons>.search {
    color: gray;
    margin: 10px;
}

.modal_addparticipant_membersWr {
    margin-top: 2em;
}

.modal_addparticipant_members {
    padding: 1em;
    max-height: 400px;
    overflow-y: scroll;
}

.modal_addparticipant_members>p {
    margin-top: 1em;
    color: #000000a6;
    font-size: .8rem;
}

.modal_addparticipant_selectedWr::-webkit-scrollbar,
.modal_addparticipant_members::-webkit-scrollbar {
    width: .5em;
}

.modal_addparticipant_selectedWr::-webkit-scrollbar-track,
.modal_addparticipant_members::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

.modal_addparticipant_selectedWr::-webkit-scrollbar-thumb,
.modal_addparticipant_members::-webkit-scrollbar-thumb {
    background: rgba(73, 72, 72, 0.466);
}

.modal_addparticipant_members>h3 {
    font-weight: 100;
    color: #009688;
}

.modal_addparticipant_members .member {
    display: flex;
    align-items: center;
    border-top: 1px solid #EDEDED;
    cursor: pointer;
    padding: 1em 0;
}

.modal_addparticipant_members .member:hover {
    background-color: #EDEDED;
}

.modal_addparticipant_members .member .MuiAvatar-root {
    margin: 0 .7em;
    width: 45px !important;
    height: 45px !important;
}

.memberAbout {
    font-size: .8rem;
    font-weight: 100;
    color: grey;
    margin-top: .5em;
}

.modal__aPConfirmation.loading {
    text-align: center;
}

.modal__clickedRoomMemberWr {
    padding: 0 !important;
    width: 30%;
    max-height: 250px;
}

.modal__clickedRoomMember>p {
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #EDEDED;
    cursor: pointer;

}

.modal__clickedRoomMember>p:hover {
    background-color: #EDEDED;
}

.modal__clickedRoomMember>p:nth-child(1):hover {
    background-color: white;
}

.modal__clickedRoomMember>p:nth-child(1) {
    color: grey;
    font-size: small;
}

.modal__clickedRoomMember>p:nth-child(2),
.modal__clickedRoomMember>p:nth-child(3),
.modal__clickedRoomMember>p:nth-child(5) {
    color: #009688;
}

.modal__clickedRoomMember>p:nth-child(4) {
    color: red;
}

@media (max-width: 840px) {
    .modal__addParticipant_wr {
        min-width: 300px !important;
    }
}