/* ADD CHAT MODAL STYLES */

.modal__addChat .PhoneInput {
    margin: 1em 0;
}
.modal__addChat button,.modal__addRoom button {
    text-align: center;
    width: 50%;
    background-color: #06D755;
    color: white;
    border-radius: 5px;
    border: none;
    display: block;
    font-weight: 600;
    padding: .5em 0;
    margin: auto;
}
.modal__addChat button:hover,.modal__addRoom button:hover {
    background-color: #06D755;
}

.modal__muteConvo p {
    margin: 1em 0;
    color: rgba(0, 0, 0, 0.699);
}
.modal__muteConvo div button {
    padding: 1em 1.2em;
    cursor: pointer;
    outline: none;
    border: none;
}
.modal__muteConvo div button:nth-of-type(1) {
 color: #06D755;
 background-color: white;
 box-shadow: 1px 1px 8px  black;
}
.modal__muteConvo div button:nth-of-type(2) {
    margin-left: 1em;
    background-color: #06D755;
    border-radius: 5px;
    color: white;
}

.modal__notAdmin p, .modal__emptyGroupName p {
    font-size: .9rem;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.753);
}
.modal__notAdmin button, .modal__emptyGroupName button {
    margin: 3em 0 auto 0;
    border: none;
    color: white;
    padding: .7em 1.9em;
    background-color: #0AA545;
    float: right;
    border-radius: 4px;
}

