.sidebarMain {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
    height: 100%;
}




.sidebarMain__headerLeft {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarMain__headerLeft p {
    margin-left: 1em;
    font-size: xx-small;
}

.sidebarMain__header {
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid lightgrey;
}



.sidebarMain__headerRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}

.sidebarMain__headerRight>.MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebarMain__headerHelp {
    position: absolute;
    display: none;
    z-index: 10000;
    right: 35px;
    width: max-content;
    flex-direction: column;
    box-shadow: 1px 1px 9px grey;
    border-radius: 5px;
}

.sidebarMain__headerHelp>ul {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    list-style: none;
    align-items: flex-start;
    background-color: white;
    font-size: .9rem;
}

.sidebarMain__headerHelp>ul li {
    color: inherit;
    width: 100%;
    cursor: pointer;
    padding: 1.1em 4.5em .9em 1.1em;
}

.sidebarMain__headerHelp>ul li:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebarMain__headerHelp>ul li:hover {
    background-color: rgba(0, 0, 0, 0.123);
}

.sidebarMain__search {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}



.sidebarMain__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}




.sidebarMain__searchContainer>input {
    border: none;
    height: 100%;
    color: inherit;
    outline: none;
    background-color: inherit;
    width: 75%;
}

.sidebarMain__searchContainer>.MuiSvgIcon-root {
    color: gray;
    margin: 10px;
}

.sidebarMain__convos {
    flex: 1;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebarMain__convos>h4 {
    padding: 1em;
    text-align: center;
    color: red;
}



.sidebarMain__convos::-webkit-scrollbar {
    width: .6em;
}

.sidebarMain__convos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

.sidebarMain__convos::-webkit-scrollbar-thumb {
    background: rgba(73, 72, 72, 0.466);
}

.sidebarMain__convos>a {
    text-decoration: none;
    color: black;
}

.sidebarMain__loading {
    display: grid;
    place-items: center;
}

@media(max-width: 767px) {
    .sidebarMain {
        flex: 1;
    }

    .sidebarMain__header {
        border: none;
    }

    .sidebarMain__convos {
        border-radius: 0px 0px 20px 20px;
    }
}