.sidebarConvoWr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebarConvoWr > p {
display: none;
 background-color: rgb(48, 126, 156);
 color: white;
 font-size: x-small;
 height: max-content;
 width: max-content;
 padding: .5em .8em;
 align-items: center;
 font-weight: bold;
 justify-content: center;
 border-radius: 50%;
 margin-right: 1em;
}
.sidebarConvoWr > p.show {
    display: flex;
}
.sidebarConvo {
   display: flex;
   flex: 1;
   position: relative;
   padding: 1em;
   cursor: pointer;
   border-bottom: 1px solid #f6f6f6;
}
.sidebarConvo:hover {
    background-color: #ebebeb;
}
.sidebarConvo__info > h2 {
    font-size: 1rem;
    margin-bottom: 8px;
}
.sidebarConvo__info {
    margin-left: .5em;
}
.sidebarConvo__info > p {
    font-size: small;
    display: flex;
    align-items: center;
}

.sidebarConvo__info > p .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.685);
}
.sidebarConvo__info > p .mic {
    color: rgb(52, 146, 184);
}
.sidebarConvo__info > p .video {
    color: rgb(226, 8, 8);
}
.sidebarConvo__add {
    display: flex;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarConvo__addChat {
    text-align: center;
    padding: .5em;
    flex: 1
}
.sidebarConvo__addRoom {
    border-left: 1px solid lightgrey;
    padding: .5em;
    text-align: center;
    flex: 1
}
.sidebarConvo__addRoom:hover,.sidebarConvo__addChat:hover {
    background-color: #ebebeb;
}
