/* USER PROFILE STYLE FOR CHAT */
.userProfile__wr {
    width: 0;
    height: 100%;
    display: flex;
}
.userProfile__wr.hide {
    display: none;
}

  .userProfile__container {
      height: 86%;
      width: 100%;
  }
.userProfile__header {
    display: flex;
    align-items: center;
    padding: 1.8em;
    border-bottom: 1px solid #80808036;
    background-color: #ededed;
    
}
.userProfile__header .MuiSvgIcon-root {
    cursor: pointer;
}
.userProfile__header > p {
    margin-left: 1em;
}
.userProfile__body {
    opacity: 0;
    overflow-y: scroll;
    height: 100%;
    margin-top: -30px;
}
.userProfile__body::-webkit-scrollbar {
    width: .4em;
  }
  .userProfile__body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #EFEFEF; 
  } 
  .userProfile__body::-webkit-scrollbar-thumb {
    background: #BFBFBF; 
  }
.userProfileBody__sec1 {
    display: flex;
    background-color: white;
    padding: 1.3em;
    flex-direction: column;
}
.userProfileBody__sec1 .MuiAvatar-root {
width: 200px;
height: 200px;
align-self: center;
margin-top: 1em;
}
.userProfileBody__sec1 div {
    margin-top: 1em;
}
.userProfileBody__sec1 div p {
    margin-top: .5em;
    color: rgba(0, 0, 0, 0.493);
}
.userProfileBody__sec1 div p:first-child {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.781);
}
.userProfileBody__sec2, .userProfileBody__sec3, .userProfileBody__sec4{
    display: flex;
    background-color: white;
    padding: 1em;
    flex-direction: column;
    margin-top: .5em;
}
.userProfileBody__sec2 > p {
    font-size: .8rem;
    align-self: center;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 1.1em;
}
.userProfileBody__sec2Info {
    display: flex;
    justify-content: space-between;
}
.userProfileBody__sec2Info p {
    font-size: .9rem;
    color: #009688;
}
.userProfileBody__sec2Info .MuiSvgIcon-root, .starMessg .MuiSvgIcon-root, .disappearingMessg .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.527);
    width: .7em;
    height: .7em;
}

.muteNotifi, .starMessg, .disappearingMessg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: .9em;
}
.starMessg {
    margin: 1.3em 0;
    padding-bottom: 1em !important;
}
.disappearingMessg {
    border-bottom: none !important;
}
.disappearingMessg p {
    display: flex;
    flex-direction: column;
}
.disappearingMessg p span:last-child {
  color: rgba(128, 128, 128, 0.562);
  margin-top: .5em;
}
.userProfileBody__sec4 p:first-child {
    font-size: .9rem;
    color: #009688;
}
.userProfileBody__sec4 p:nth-of-type(2) {
    margin: 1.2em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    font-size: 1.1rem;
    color: rgb(61, 57, 57);
    padding-bottom: 1em;
}
.userProfileBody__sec4 p:nth-of-type(3) {
    font-size: small;
    color: rgb(61, 57, 57);
}
.userProfileBody__sec5, .userProfileBody__sec6, .userProfileBody__sec7 {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin-top: .5em;
    color: red !important;
}
.userProfileBody__sec5 p, .userProfileBody__sec6 p, .userProfileBody__sec7 p {
    margin-left: 1.6em;
}
.userProfileBody__sec5.blocked {
    color: #07BC4C !important;
}


/* USER PROFILE STYLE FOR ROOM */
.userProfileRoom__wr {
    width: 0;
    height: 100%;
    display: flex;
}
.userProfileRoom__wr.hide {
    display: none;
}

  .userProfileRoom__container {
      height: 86%;
      width: 100%;
  }
.userProfileRoom__header {
    display: flex;
    align-items: center;
    padding: 1.8em;
    border-bottom: 1px solid #80808036;
    background-color: #ededed;
    
}
.userProfileRoom__header .MuiSvgIcon-root {
    cursor: pointer;
}
.userProfileRoom__header > p {
    margin-left: 1em;
}
.userProfileRoom__body {
    opacity: 0;
    overflow-y: scroll;
    height: 100%;
    margin-top: -30px;
}
.userProfileRoom__body::-webkit-scrollbar {
    width: .4em;
  }
  .userProfileRoom__body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #EFEFEF; 
  } 
  .userProfileRoom__body::-webkit-scrollbar-thumb {
    background: #BFBFBF; 
  }
.userProfileBodyRoom__sec1 {
    display: flex;
    background-color: white;
    padding: 1.3em;
    flex-direction: column;
}
.userProfileBodyRoom__sec1 .MuiAvatar-root {
width: 180px;
height: 180px;
align-self: center;
margin-top: 1em;
cursor: pointer;
}
.userProfileBodyRoom__sec1AviWr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.userProfileBodyRoom__sec1AviWr > input {
    position: absolute;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    width: 100%;
}
.userProfileBodyRoom__sec1AviWr  input:hover + .upbr__sec1AviChnage {
 opacity: 1;
}



.upbr__sec1AviChnage {
    text-align: center;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.upbr__sec1AviChnage .MuiSvgIcon-root {
    color: grey;
}
.upbr__sec1AviChnage p {
    color: grey;
}
.userProfileBodyRoom__sec1 div {
    margin-top: 1em;
}
.userProfileBodyRoom__sec1OuterDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userProfileBodyRoom__sec1OuterDiv .MuiSvgIcon-root.hide {
    display: none;
}
.userProfileBodyRoom__sec1OuterDiv .MuiSvgIcon-root {
    color: grey;
    cursor: pointer;
}
.userProfileBodyRoom__sec1 div p {
    margin-top: .5em;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.493);
}
.userProfileBodyRoom__sec1 div p:first-child {
    font-size: 1.1rem;
    color: black;
}
.upbr__editName {
    flex: 1;
}
.upbr__editName > div {
    position: relative;
}
.upbr__editName > div .MuiSvgIcon-root.done {
    color: grey;
}
.upbr__editName input {
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid #00BFA5;
}
.upbr__editNameIconWr {
    display: flex;
    position: absolute;
    top: -8px;
    right: 0;
    align-items: center;
    margin-top: 0 !important;
}
.upbr__editNameIconWr p {
    font-size: 1rem !important;
    color: rgba(0, 0, 0, 0.555) !important;
    margin-top: 0 !important;
}
.upbr__editName__emoji {
    position: relative;
    transition: all 1s ease-in-out;
    margin: 0 .4em !important;
}
.upbr__editName__emoji > .emoji-picker-react {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 115%;
    right: 0;
    max-height: 251px;
    max-width: 231px
}
.userProfileBodyRoom__sec2OuterDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: .5em;
    padding: 1.3em;
}
.userProfileBodyRoom__sec2OuterDiv .MuiSvgIcon-root.hide {
    display: none;
}
.userProfileBodyRoom__sec2OuterDiv .MuiSvgIcon-root {
    color: grey;
    align-self: flex-start;
}
.upbr__editDescrip p {
    font-size: small;
    color: #3BAEA4;
    margin-bottom: .5em;
}
.upbr__editDescrip span {
    font-size: small;
    color: grey;
    word-break: break-all;
}
.upbr__editDescrip__emoji {
    position: relative;
    transition: all 1s ease-in-out;
    margin: 0 .4em !important;
}
.upbr__editDescrip__emoji > .emoji-picker-react {
    display: none;
    z-index: 2;
    position: absolute;
    bottom: 115%;
    right: 0;
    max-height: 251px;
    max-width: 231px
}
.upbr__editDescrip {
    flex: 1;
}
.upbr__editDescrip > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex: 1;
}
.upbr__editDescrip > div textarea {
    flex: .7;
    outline: none;
    border: none;
    resize: none;
    border-bottom: 2px solid #00BFA5;
}
.upbr__editDescripIconWr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
}
.userProfileBodyRoom__sec3, .userProfileBodyRoom__sec4, .userProfileBodyRoom__sec5{
    display: flex;
    background-color: white;
    padding: 1em;
    flex-direction: column;
    margin-top: .5em;
}
.userProfileBodyRoom__sec3 > p {
    font-size: .8rem;
    align-self: center;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 1.1em;
}
.userProfileBodyRoom__sec3Info {
    display: flex;
    justify-content: space-between;
}
.userProfileBodyRoom__sec3Info p {
    font-size: .9rem;
    color: #00BFA5;
}
.userProfileBodyRoom__sec3Info .MuiSvgIcon-root, .starMessg .MuiSvgIcon-root, .disappearingMessg .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.527);
    width: .7em;
    height: .7em;
}
.upbr_sec5_div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: .9em;
}
.upbr_sec5_div1 p {
    font-size: small;
    color: #00BFA5;
}
.upbr_sec5_div1 .MuiSvgIcon-root {
    color: rgba(128, 128, 128, 0.712);
    width: .8em;
    height: .8em;
}
.upbr_sec5_div2_memberWr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: .9em;
}
.upbr_sec5_div2_memberWr > div {
    display: flex;
    align-items: center;
}
.upbr_sec5_div2_memberWr > div p {
    font-size: small;
    color: grey;
    margin-left: 1em;
}
.upbr_sec5_div2_memberWr > p {
    border: 1px solid #12BF54 ;
    padding: .1em;
    border-radius: 3px;
    text-align: center;
    font-size: x-small;
    color: #12BF54;
}
.userProfileBodyRoom__sec6, .userProfileBodyRoom__sec7 {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin-top: .5em;
    color: red !important;
}
.userProfileBodyRoom__sec6 p, .userProfileBodyRoom__sec7 p {
    margin-left: 1.6em;
}

/* .userProfileBodyRoom__sec2, .userProfileBodyRoom__sec3, .userProfileBodyRoom__sec4{
    display: flex;
    background-color: white;
    padding: 1em;
    flex-direction: column;
    margin-top: .5em;
}
.userProfileBody__sec2 > p {
    font-size: .8rem;
    align-self: center;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 1.1em;
}
.userProfileBodyRoom__sec2Info {
    display: flex;
    justify-content: space-between;
}
.userProfileBodyRoom__sec2Info p {
    font-size: .9rem;
    color: #009688;
}
.userProfileBodyRoom__sec2Info .MuiSvgIcon-root, .starMessg .MuiSvgIcon-root, .disappearingMessg .MuiSvgIcon-root {
    color: rgba(0, 0, 0, 0.527);
    width: .7em;
    height: .7em;
}

.muteNotifi, .starMessg, .disappearingMessg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    padding-bottom: .9em;
}
.starMessg {
    margin: 1.3em 0;
    padding-bottom: 1em !important;
}
.disappearingMessg {
    border-bottom: none !important;
}
.disappearingMessg p {
    display: flex;
    flex-direction: column;
}
.disappearingMessg p span:last-child {
  color: rgba(128, 128, 128, 0.562);
  margin-top: .5em;
}
.userProfileBodyRoom__sec4 p:first-child {
    font-size: .9rem;
    color: #009688;
}
.userProfileBodyRoom__sec4 p:nth-of-type(2) {
    margin: 1.2em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.082);
    font-size: 1.1rem;
    color: rgb(61, 57, 57);
    padding-bottom: 1em;
}
.userProfileBodyRoom__sec5, .userProfileBodyRoom__sec6, .userProfileBodyRoom__sec7 {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin-top: .5em;
    color: red !important;
}
.userProfileBodyRoom__sec5 p, .userProfileBodyRoom__sec6 p, .userProfileBodyRoom__sec7 p {
    margin-left: 1.6em;
} */
